body
{

background-color: tan;

}

#clock
{

  text-align: center;
  margin: 0 auto;
  

}

h1
{

  font-family: 'Cinzel', serif;
  text-align:center;

}
.jumbotron
{

background-color: #F5DEB3;

}

button
{

margin: 10px;

}